body{
  background-color: rgb(249, 207, 221);
  color: rgb(4, 4, 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:50px
}
h1{
  font-size: 40px;
  text-align: center;
  font-family: "Molle", cursive;
  font-weight: bold;
}
p{
  text-align: justify
}
img{
  margin-top: 20px;
  max-width: 80%;
   }
a{
  text-decoration: none;
  color: rgb(252, 248, 248);
  text-align: center;
}
a:hover{
  color: rgb(10, 10, 10);
}
body.modo_escuro {
  background-color: rgb(221, 16, 204);
  color: seashell;
}


button {
  border: 2px solid rgb(222, 12, 12);
  border-radius: 20px;
  width: 80px;
  position: fixed;
  right: 10px;
  top: 50px
}
